@import './reset.css';
@import './transition.css';
@import './naive.css';
@import "tailwindcss";

html,
body,
#app {
  height: 100%;
}
.color-weak {
  filter: invert(80%);
}

.gray-mode {
  filter: grayscale(100%);
}

.drag-handle {
  cursor: move;
}
